
<div class="container" >
    <div class="row row-content align-items-center" *ngIf="dishes">
      <div class="card" style="width: 18rem;" *ngFor="let dish of dishes">
        <img class="card-img-top" src={{dish.image}} alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">{{dish.name}} <span class="badge badge-pill badge-secondary float-right">${{dish.price}}</span></h3>
          <p class="card-text">{{dish.description}}</p>
          <!-- <button class="btn btn-primary" (click)="addClicked($event, item)">Add to cart</button> -->
          <button class="btn btn-primary float-right" (click)="addItemToCart(dish)">Add to cart</button>
        </div>
      </div>
      <div [hidden]="dishes || errMess">
        <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
    </div>
  </div>
