<div class="container">
    <div class="row col-12 col-sm-6">
        
        <form action="" class="form-group" (ngSubmit)="onSubmit()" [formGroup]="signinForm" role="form" #rform="ngForm">
            <h3>Please Sign In</h3>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="Email" id="" class="form-control" >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="Password" id="" class="form-control" placeholder="" aria-describedby="helpId">
            </div>
            <div class="form-row">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
                
            </div>
            
        </form>


    </div>
</div>
