<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">cafeNew</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/menu']"
              >Menu</a
            >
          </li>
          <!-- <li *ngIf="expression" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/menu']"
              >Admin</a
            >
          </li> -->
        </ul>

      </div>
    </div>
    <span class="navbar-text">
      <ng-container *ngIf="hasToken; else elseTemplate">
        <a class="btn" (click)="onLogout()">
          <span class="fa fa-sign-in"></span> Logout
        </a>
      </ng-container>
      <ng-template #elseTemplate>
        <a id="mylogin" [routerLink]="['/login']" class="btn">
          <span class="fa fa-sign-in"></span> Login
      </a>
      </ng-template>


      <a id="myRegister" [routerLink]="['/registration']" class="btn">
        <span class="fa fa-sign-in"></span> Register
      </a>
      <a id="" data-toggle="modal" data-target="#cart" class="btn" (click)="openDialog()">
        <span class="fa fa-shopping-cart"></span>Cart
    </a>
  </span>
  </nav>
</header>

